<html>
   <body style="background-color:powderblue;">
       <form method="POST">
           <label>Tên món : </label>
           <input name = 'name' value="{{food.name}}"/>
           <br><br/>
           <label>Giá :     </label>
           <input name = 'price' value="{{food.price}}"/>
           <br><br/>
           <!-- <label>Link ảnh :     </label>
           <input name = 'link_anh'/>
           <br><br/> -->
           <input type="submit" value="submit"/>
       </form  >
       
        <title>Food</title>
   </body>
</html>